* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    width: 45%;
    height: 100vh;
    margin: auto;
    align-content: center;
}

.grid {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-width: 1px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.square {
    background-color: rgb(0, 0, 0);
    
}